body {
  background-color: #fff;
  margin: 0%;
}

.navigation {
  padding-right:3%;
  font-size: 30px;
  font-weight: 300;
  font-family: sans-serif;
  color: rgb(2,43,58);
  position: fixed;
}

.logo {
  position: fixed;
  top: 0;
  left: 0px;
}

.navigation ul {
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0,166,235,1);
  text-align: center;
  display: inline-block;
  padding-right: 20px;
  padding: 1%;
  font-size: 0.75em;
  border-radius: 20px 0px 0px 20px;
}

.navigation li {
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  text-align: right;
}

.navigation a {
  color: white;
  text-decoration: none;
}

.header {
  background-image: url(../images/header2.jpg);
  background-position: center center;
  background-size:cover;
  width: 100%;
  min-height: 400px;
  max-height: 600px;
  background-repeat: no-repeat;
}

#header_text {
  vertical-align: text-bottom;
}

.header h1 {
  font-family: sans-serif;
  font-size: 40px;
  color: white;
  padding: 10% 0% 2% 0%;
  margin-top: 0%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
  text-shadow: 2px 2px 2px #00A6EB;
}

#subheading {
  font-family: sans-serif;
  font-size: 16px;
  color: white;
  padding: 1%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0,166,235,0.5);
  width: 50%;
  text-align: center;
}

h3 {
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 500;
  text-align: center;
  color: white;
}

h4 {
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
}

.first_videos {
  background-color: #D7C500;
  color: #000000;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.first_videos h3 {
  font-size: 20px;
  align-content: center;
  font-family: serif;
}

.videos123 {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.video_box {
  border-width: medium;
  border: 10px;
  margin: 10px;
  display: inline-block;
  width: 30%;
}

.meet_us {
  background-color: #F60C0C;
  color: #ffffff;
}

.everyone {
  margin-right: auto;
  margin-left: auto;
}

.people {
  border-width: medium;
  border: 1%;
  margin: 1%;
  display: inline-flex;
  width: 22.5%;
  height: 300px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.people h4 {
  background-color: #F60C0C);
  padding: 3%;
  max-height: 40px;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80%;
  position:static;
}

#sam {
  background-image: url(../images/sam.jpg);
}

#jim {
  background-image: url(../images/jim.jpg);
}

#liam {
  background-image: url(../images/liam.jpg);
}

#elspeth {
  background-image: url(../images/elspeth.jpg);
}

.contact {
  background-color: #5D0BD4;
}

.about {
  background-color: #0BD426;
}
